.edit-patient-form {
    font-family: "Quicksand", sans-serif;
  
    .form-grid {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  
    .full-width {
      grid-column: span 2;
    }
  
    .ant-form-item-label > label {
      font-weight: 600;
      color: #333;
      font-family: "Quicksand", sans-serif;
    }
  
    .ant-input,
    .ant-select-selector,
    .ant-picker {
      border-radius: 6px;
      padding: 6px 10px;
    }
  
    .ant-btn-primary {
      background: #4096ff;
      border-radius: 6px;
      padding: 6px 16px;
      font-weight: 500;
  
      &:hover {
        background: #1677ff;
      }
    }
  }
  