.health-card {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__title {
    font-size: 1.25rem;   // h2 size
    font-weight: 700;
    color: #111827;
    border-bottom: 1px solid #e5e7eb;
    width: fit-content;
  }

  &__time {
    font-weight: 600;
    color: #374151;
    font-size: 1rem;
  }

  &__body {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
  }

  &__chart {
    flex: 1;
    height: 200px; 
    min-width: 200px;
  }
}
