.patient-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;

  &--mobile {
    flex-direction: column;
  }

  &__card {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 300px;
    max-height: 400px;
    justify-content: center;
    background: #fff;
  }

  &__avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
